# Python
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*/bin/activate
*/lib/python*/site-packages/

# Environment
.env

# Distribution and packaging
build/
dist/
*.egg-info/
*.egg

# Editors
# VSCode
.vscode/
# PyCharm
.idea/
# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
.Trashes
Thumbs.db
ehthumbs.db
*.bak
*.swp
*~
.directory